@use 'colors';

$grid-gap: clamp(15px, 2.5vw, 25px);

.GameList {
  display: flex;
  flex-direction: column;
  flex: 1 1;

  margin: {
    block: 10px 50px;
    inline: calc(clamp(10px, 3vw, 50px) + 8px)
  }

  .NoGames {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1;
    font-size: 32px;
    font-weight: 600;
  }
  .BulkActions {
    position: fixed;
    
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background: transparent;

    .delete-me{
      background-color: rgb(206, 9, 9);
    }

    .save-image{
      background-color: colors.$accent;
    }
   
    button {
      background-color: #007bff;
      color: white;
      padding: 10px 20px;
      border: none;
      margin-right: 5px;
      border-radius: 5px;
      cursor: pointer;

    
    }
  }
}
  .Grid {
    display: flex;
    gap: $grid-gap;

    .Column {
      display: flex;
      flex-direction: column;
      gap: $grid-gap;
      flex: 1 1;
    }
  }


  .pagination-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    color: colors.$text2;
  
    Button {
      margin: 0 10px;
      padding: 8px 25px;
      background-color: transparent;
      border: 1px solid;
      border-radius: 3px;
      cursor: pointer;
      color: colors.$accent;
  
      &:disabled {
        cursor: not-allowed;
        opacity: 0.5;
      }
    }
  
    select {
      margin-left: 10px;
      padding: 5px;
      color: colors.$text;
    }
  }


.GameCard {
  background-color: colors.$bg2;
  color: colors.$text;
  border-radius: 0px;
  overflow: hidden;
  border: 1.5px solid transparent;

  &.selected {
    border-color: colors.$accent;
  }

  .Image {
    height: 350px;
    cursor: pointer;
    object-fit: cover;
  }

  .Info {
    padding: 18px 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .Button {
      padding: 0;
      text-align: left;
    }

    .Price {
      display: flex;
      align-items: center;
      justify-content: space-between;

      font: {
        size: 14px;
        weight: 500;
      }

      .spin {
        animation: spin 1s linear infinite;
      }

      @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
      }

      .Button {
        color: colors.$text2;
        height: 40px; 
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
          color: colors.$accent;
        }
      }

      .Added {
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: 16px;
        color: lightgreen;
        user-select: none;
        height: 40px; 
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .Delete {
        .Button {
          color: colors.$text2;
          height: 40px; 
          display: flex;
          align-items: center;
          justify-content: center;

          &:hover {
            color: colors.$delete;
          }
        }
      }

      .Download {
        .Button {
          color: colors.$text2;
          height: 40px; 
          display: flex;
          align-items: center;
          justify-content: center;

          &:hover {
            color: colors.$accent;
          }
        }
      }
    }

    .Button.Name {
      font: {
        size: 20px;
        weight: 600;
      }
    }

    .MoreInfo {
      display: flex;
      flex-direction: column;
      gap: 4px;

      .Platforms {
        display: flex;
        gap: 8px;

        svg {
          color: white;
          font-size: 16px;
        }
      }

      .Released,
      .Genres {
        font-size: 14px;
        color: colors.$text2;
      }
    }
  }
}
